
.container {
  padding: 20px;
  margin: 0;

  touch-action: none;
  -webkit-touch-callout: none;
  user-select: none;
  -webkit-user-select: none;
}

.list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 10px;
}

.list_item {
  padding: 8px;
  border: 1px solid #1945bd;
  border-radius: 4px;
  position: relative;
  user-select: none;

  touch-action: none;
  -webkit-user-select: none;

  &:hover {
    cursor: grab;
  }
}

.storage {
  border: 1px solid #1b57ff;
  margin: 40px 20px 0;
  min-height: 200px;
  padding: 0 0 16px;
  border-radius: 10px;
  display: flex;
  list-style: none;
  align-items: start;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9999;
  will-change: transform;
}

.button {
  margin: 0 0 10px;
  background-color: transparent;
  border: 1px solid #1b57ff;
  cursor: pointer;
  padding: 10px 12px;
  border-radius: 4px;
}

