.button {
  background: green;
}

.header {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid gray;
}

.link {
  color: black;

  &:first-of-type {
    margin-left: 20px;
  }
}

